@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.gray.50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.gray.900);
  }
}

body {
  background-color: var(--background);
}
